@model SearchBookingViewModel

<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <form asp-action="Index" asp-controller="Booking" method="post">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="date" data-target-input="nearest">
                                    <input type="date" class="form-control"
                                           asp-for="ArrivalDate" placeholder="Check in" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="date" data-target-input="nearest">
                                    <input type="date" class="form-control"
                                           asp-for="DepartureDate" placeholder="Check out" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" asp-for="Adults" placeholder="Adults" min="1" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" asp-for="City" placeholder="City" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary w-100" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
